*{
    margin: 0;
    padding: 0;
}

.first{
    width: 100%;
    height: 100%;
    left: 50;
    right: 50;
    background-position: ;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    width: 100%;
    height: auto;
    height: 100%;
    position: relative;
}

img{
    height: 90px;
    right: 10px;
}

.logo{
    height: 80px;
    padding-top: 1%;
    padding-left: 7%;
}

.nav ul{
    float: right;
    margin-right: 80px;
}

.nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 10px;
}

.nav ul li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    cursor: pointer;
}

.active{
    border-bottom: 2px solid white;
}

.submit{
    padding: 12px 20px;
    background-color: #00D100;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.caption {
    position: absolute;
    left: 8%;
    top: 50%;
}

.caption h1{
    color: white;
    font-size: 52px;
    font-family: sans-serif;
}

.part{
    font-size: 45px;
}

.caption p{
    width: 40%;
    padding-top: 3%;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}

.input{
    margin-top: 3%;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: #00D100;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.flex{
    height: auto;
    display: flex;
    justify-content: center;
}

.item{
    padding: 4% 6%;
    justify-content: center;
}

.item h1{
    text-align: center;
    color: #00D100;
    font-size: 60px;
    font-weight: bold;
}

.item label{
    margin-top: 2%;
}

.item p{
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    width: 100%;
    font-weight: 700;
}

.new{
    padding-top: 5%;
    display: flex;
}

.n{
    padding: 0 3%;
    width: 100%;
}

.n img{
    width: 110%;
    height: 90%;
}

.n h1{
    font-family: sans-serif;
    font-size: 55px;
    text-align: left;
}

.pp{
    font-weight: 200;
}


.ppp{
    padding: 5% 5%;
    font-size: 28px;
    font-family: sans-serif;
} 

.n a{
    padding-left: 5%;
    color: #00D100;
    font-size: 20px;
    font-family: sans-serif;
}